body {
  font-family: Arial, sans-serif;
}

header, main {
  margin: 10px 5px;
  padding: 10px;
  border: 1px gray solid;
  border-radius: 10px;
  box-shadow: 5px 5px #3333;
}

footer {
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
}

a {
  text-decoration: none;
  color: blue;

  &:hover {
    text-decoration: underline;
  }
}

header {
  font-size: 24px;

  img {
    max-width: 100px;
    vertical-align: middle;
  }

  a:link, a:visited {
    color: black;
  }
}
